<h1>@<%= current_user.username  %>'s Feed</h1>
<h3>See what your "friends" are saying about you!</h3>

	<%= render 'epicenter/newtweet' %>



<% @following_tweets.each do |tweet| %>
	
	<div class="card">
	  
	  <div class="card-body">
	    <h5 class="card-title"><%= image_tag tweet.user.avatar.thumb %> ~ about <%= time_ago_in_words(tweet.created_at) %> ago, <%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %> said...</h5>
	    <p class="card-text"><%= tweet.message %></p>
	  </div>
	</div>
<% end %>