<!DOCTYPE html>
<html>
  <head>
    <title>Spr18SocialMedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- begin of navbar -->
  	<%= render 'layouts/navbar' %>
		<!-- end of navbar -->





<!-- new layout -->
<% if user_signed_in? %>
<center>
<div class="container container-margin">

      <div class="row" >
   
        <div class="col-md-3 left-panel">
          
          
          <!-- This side of the page will contain current_user profile information which will appear on every page -->
            <center>
              <p><%= image_tag current_user.avatar.show, class: "img-circle" %></p>
              <h4>You are currently logged in as: </h4>
              <p><strong><%= link_to current_user.name, show_user_path(id: current_user.id) %></strong> @<%= current_user.username %></p>
              <p>Location: <strong><%= current_user.location %></strong></p>
              <p>Following: <%= link_to current_user.following.length, following_path(id: current_user.id) %>  Followers: <%= link_to total_followers, followers_path(id: current_user.id) %></p>
            </center>
    
        

        </div>
       <div class="col-lg-6 center-panel">
          
            <%= yield %>
         
         </div> 
        <div class="col-md-3 right-panel"> 
         
           <h3>What's Trending!</h3>
           <% hot_tags.each do |tag| %>
              <%= link_to tag.phrase, tag_tweets_path(id: tag.id) %>
            <% end %>

            <h3>Hottest Tweeter:</h3>
            <p><%= image_tag top_tweeter.avatar.url, class: "user-pic" %></p>
            <p><%= link_to "@#{top_tweeter.username}", show_user_path(id: top_tweeter.id) %> with <%= top_number_tweets %> tweets!</p>
         
        </div>

      </div>
          <% else %>
          <div class="container">

            <%= yield %>
          </div>
          <% end %> 
        </div>
    </div> 
</center>
<!-- end of new layout -->

  </body>
</html>
