<!DOCTYPE html>
<html>
  <head>
    <title>Spr18SocialMedia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- begin of navbar -->
  	<%= render 'layouts/navbar' %>
		<!-- end of navbar -->

	<div class="row">	
		<div class="col-lg-3 left-panel">
			<% if user_signed_in? %>
			<!-- display profile pic and current user stats -->
				<!-- <div class="card" style="width: 18rem;">
				  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title">Card title</h5>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>
 -->
			<% else %>
				<center>
					Welcome to Word on the Street!  Login so you can be a part of the conversation!
				</center>
			<% end %>
		</div>	

		<div class="col-lg-6 center-panel">
	  	<div class="container">
		    <%= yield %>
		  </div> 
		</div>

		<div class="col-lg-3 right-panel">
			<% if user_signed_in? %>
			<!-- display top trends -->
			<% else %>
			<%= image_tag "thoughtballons.jpg", class: 'login-pic' %>
			<% end %>
		</div>
</div>

  </body>
</html>
